<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{site.username}}</span>
        <span class="site-description">{{site.user_title}}</span>
      </h1>
      <div class="header-icons">
        <a aria-label="Send email" href="mailto:zLeewack@163.com"><i class="icon fa fa-envelope" aria-hidden="true"></i></a>
        <a aria-label="My Youtube"  href="https://www.youtube.com/channel/UC7OeYJanVobeviwo1FsCDdg?view_as=subscriber"><i class="icon fa fa-youtube-play" aria-hidden="true"></i></a>
        <a aria-label="My GoogleScolar"  href="https://scholar.google.com/citations?user=PAMvtSoAAAAJ&hl=en"><i class="icon fa fa-gg-circle" aria-hidden="true"></i></a>
        <a aria-label="My Github"  href="https://github.com/zLeewack"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
      </div>
      <div class="header-links">
        <a class="link" href="#about" data-scroll>About Me</a>
        |
        <a class="link" target="_blank" href="/assets/cv/cv_ZhiLi_nwpu.pdf">CV</a>
        |
        <a class="link" href="#projects" data-scroll>Research</a>
        |
        <a class="link" href="#projects" data-scroll>Projects</a>
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
