<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<!-- Project 4 -->
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/siftslam.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> SIFTGPU-SLAM </h3>
    <ul>
      <li> <b>Core members (2017-2018)</b></li>
    </ul>
    <p>Developing a monocular visual odometer system based SIFT-GPU, independently.</p>
    <a class="project-link" href="#">Learn more</a>
  </div>
</div>
<!-- Project 3 -->
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/M100control.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Vision-based UAV Autonomous Flight </h3>
    <ul>
      <li> <b>Core members (2017)</b></li>
    </ul>
    <p>.</p>
    <a class="project-link" href="#">Learn more</a>
  </div>
</div>
<!-- Project 2 -->
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/carRace2016.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Visual distance measurement and obstacle avoidance </h3>
    <ul>
      <li> <b>Core members (2016)</b></li>
    </ul>
    <p>In motion, we use stereo camear to estimate distance and avoid obstacles.</p>
    <a class="project-link" href="#">Learn more</a>
  </div>
</div>
<!-- Project 1 -->
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/droneRace2015.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Vision-based UAV Auto-landing </h3>
    <ul>
      <li> <b>Core members (2015)</b></li>
    </ul>
    <p>we developed a real-time vision-based UAV autonomous landing system. With this technology we participated AVIC Cup-International UAV Innovation Grand Prix and won the third international place. </p>
    <a class="project-link" href="http://www.saiip-vision.org/%E7%A7%91%E7%A0%94%E7%AB%9E%E8%B5%9B_2015%E5%85%89%E4%B9%8B%E7%BF%BC.html">Learn more</a>
  </div>
</div>
