<div class="user-details">
  <h1> Research </h1>
  <p> During my master's period, my research work covers many aspects, including <b color:#FF0000 >visual SLAM, autonomous vision control of UAV, visual navigation of unmanned vehicle, multi target detection and tracking</b>. At present, I am more interested in multi-sensor fusion SLAM and deep learning, including open source excellent framework (ORB-SLAM, VINS-Mono, OKVIS) etc, and its applications in UAVs and unmanned vehicles.
   </p>
</div>
    <style>
        a { text-decoration:none} 
        p { text-align:justify; color:#000000 }
        h4 { margin: 40px, 0px, 15px, 0px; color:#0000FF 
              }
        /** { margin:10px 0px; padding:0; }*/
    </style>
<!-- Paper 5  -->
<div class="user-projects">
  <div class="images-left">
    <a href="/assets/papers/18-TIE-0932.pdf">
       <img alt="Trans" src="{{ "/assets/img/IeeeTrans.png" | prepend: site.baseurl }}" />
    </a>
  </div>
  <div class="contents-right">
    <h4>
       <a class="link" href="/assets/papers/18-TIE-0932.pdf">Panoramic UAV Surveillance System based on Structure-free Fisheye Camera Array</a>
       <p > Tao Yang, <b>Zhi Li</b>, Jing Li, Bolin Xie </p>
    </h4>
    <div>
       <p>This paper presents a novel panoramic UAV surveillance system, which is based on an unique structure-free fisheye camera array, and has the capability of 3D detection and
       tracking multiple UAVs in a very wide field of view.</p>
    </div>
    <a class="project-link-me" href="/assets/papers/18-TIE-0932.pdf"><b>Paper</b></a>
  </div>
</div>
<hr width=100% size=3 color=#000000 style="filter:progid:DXImageTransform.Microsoft.Shadow(color#000000,direction:145,strength:15)">
<!-- Paper 4 -->
<div class="user-projects">
  <div class="images-left">
    <a href="https://youtu.be/IKTi801hsgk">
       <img alt="electronics" src="{{ "/assets/img/electronics-07-00073.png" | prepend: site.baseurl }}" />
  </a>
  </div>
  <div class="contents-right">
    <!-- <div class="projects-name"> -->
    <h4>
       <a class="link" href="http://www.mdpi.com/2079-9292/7/5/73">Monocular Vision SLAM-Based UAV Autonomous Landing in Emergencies and Unknown Environments</a>
       <p> Tao Yang, Peiqi Li, Huiming Zhang, Jing Li, <b>Zhi Li</b> </p>
    </h4>
  <!--   </div> -->
    <p class="demo">This paper proposes and implements a monocular vision-based drone autonomous landing system in emergencies and in unstructured environments. In this system, a novel map representation approach is proposed that combines three-dimensional features and a mid-pass filter to remove noise and construct a grid map with different heights.</p>
    <a class="project-link-me" href="/assets/papers/electronics-07-00073-v2.pdf"><b>Paper</b></a> 
    |
    <a class="project-link-me" href="https://youtu.be/IKTi801hsgk"><b>Video</b></a>
  </div>
</div>
<!-- Paper 3  -->
<div class="user-projects">
  <div class="images-left">
    <a href="https://dl.acm.org/citation.cfm?id=3191446">
      <img alt="ICIGP2018" src="{{ "/assets/img/ICIGP2018.png" | prepend: site.baseurl }}" />
    </a>
  </div>
  <div class="contents-right">
    <h4>
       <a class="link" href="https://dl.acm.org/citation.cfm?id=3191446">Anti-UAVs Surveillance System based on Ground Random Fisheye Camera Array</a>
       <p > <b>Zhi Li</b>, Tao Yang, Jing Li, Zhuoyue Zhang, Ruikai Liu, Bolin Xie </p>
    </h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link-me" href="/assets/papers/ICIGP2018-GP004.pdf"><b>Paper</b></a>
    |
    <a class="project-link-me" href="/assets/papers/ICIGP2018-GP004-slide.pdf"><b>Slide</b></a>
  </div>
</div>
<!-- Paper 2  -->
<div class="user-projects">
  <div class="images-left">
    <img alt="ICSP2017" src="{{ "/assets/img/ICSP2017.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h4>
       <a class="link" href="https://ieeexplore.ieee.org/abstract/document/7877846/">Geodetic Coordinate Calculation Based on Monocular Vision on UAV Platform</a>
       <p > <b>Zhi Li</b>, Tao Yang, Guangpo Li, Jing Li, Yanning Zhang </p>
    </h4>
    <p>This paper mainly studied a method of geodetic coordinate calculation based on monocular vision on UAV platform, which is extension and expansion of the traditional monocular vision measurement method. Our system only needs a monocular camera carried on UAV platform and combines the latest ORB-SLAM algorithm.</p>
    <a class="project-link-me" href="/assets/papers/ICSP2017-B0420P.pdf"><b>Paper</b></a>
    |
    <a class="project-link-me" href="/assets/papers/ICSP2017-B0420P-slide.pdf"><b>Slide</b></a>
  </div>
</div>
<!-- Paper 1  -->
<div class="user-projects">
  <div class="images-left">
    <a href="https://youtu.be/5q24UEYBHPg">
      <img alt="Sensors2016" src="{{ "/assets/img/Sensors2016.png" | prepend: site.baseurl }}" />
    </a>
  </div>
  <div class="contents-right">
    <h4>
       <a class="link" href="http://www.mdpi.com/1424-8220/16/9/1393">A Ground-Based Near Infrared Camera Array System for UAV Auto-Landing in GPS-Denied Environment</a>
       <p> Tao Yang, Guangpo Li, Jing Li, Yanning Zhang, Xiaoqiang Zhang, Zhuoyue Zhang, <b>Zhi Li</b> </p>
    </h4>
    <p>This paper proposes a novel infrared camera array guidance system with capability to track and provide real time position and speed of a fixed-wing Unmanned air vehicle (UAV) during a landing process.</p>
    <a class="project-link-me" href="/assets/papers/sensors-16-01393.pdf"><b>Paper</b></a>
    |
    <a class="project-link-me" href="https://youtu.be/5q24UEYBHPg"><b>Video</b></a>
  </div>
</div>
