<div class="user-details">
  <h1> Research </h1>
  <p> {{site.user_description}} </p>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="Trans" src="{{ "/assets/img/IeeeTrans.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h4>
       <a class="link" href="/assets/papers/18-TIE-0932.pdf">Panoramic UAV Surveillance System based on Structure-free Fisheye Camera Array</a>
       <p > Tao Yang, <b>Zhi Li</b>, Jing Li, Bolin Xie </p>
    </h4>
    <ul>
      <li></li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Learn more</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="electronics" src="{{ "/assets/img/electronics-07-00073.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
     <style>
        *{margin:0; padding:0;}
        .demo{
            /*font-size: 14px;*/
            /*color: #00F;*/
            text-align:justify;}
        .link{ font-weight: bold}
    </style>
    <!-- <div class="projects-name"> -->
    <h4>
       <a class="link" href="/assets/papers/electronics-07-00073-v2.pdf">Monocular Vision SLAM-Based UAV Autonomous Landing in Emergencies and Unknown Environments</a>
       <p > Tao Yang, Peiqi Li, Huiming Zhang, Jing Li, <b>Zhi Li</b> </p>
    </h4>
  <!--   </div> -->
    <p class="demo">This paper proposes and implements a monocular vision-based drone autonomous landing system in emergencies and in unstructured environments. In this system, a novel map representation approach is proposed that combines three-dimensional features and a mid-pass filter to remove noise and construct a grid map with different heights.</p>
    <div class="project-links">
      <a class="link" href="http://www.mdpi.com/2079-9292/7/5/73">Paper</a> 
      <a class="link" href="https://youtu.be/IKTi801hsgk">Video</a>
    </div>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="ICIGP2018" src="{{ "/assets/img/ICIGP2018.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Project Title </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Learn more</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="ICSP2017" src="{{ "/assets/img/ICSP2017.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Project Title </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Learn more</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="Sensors2016" src="{{ "/assets/img/Sensors2016.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Project Title </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Learn more</a>
  </div>
</div>

